nextflow.preview.output = true
workDir = "/lustre/isaac24/scratch/lmajeres/ihvc_cattle/work"
outputDir = "/nfs/home/lmajeres/lmajeres/variant_calling_pipeline/inhouse_cattle/outputs/xxxxxx"

params{
    // top-level directories
    toolbox = "/lustre/isaac24/proj/UTK0204/lmajeres/tools"

    // handy things needed to run some processes
    adapters = "${toolbox}/adapters.fa"
    bwaIndex = "${toolbox}/Bos_taurus_bwamem2_index_ARS2.0/Bos_taurus_bwamem2_index_ARS2.0"
    dvRef = "${toolbox}/GCF_Bos_taurus_ref/GCF_002263795.3_ARS-UCD2.0_genomic.fna"
    dvqcParser = "${toolbox}/vcf_stat_parse.py"

    // Input csvs. At least one of these is required. Header line is required.
        // Format file_name, sample_id, dir, dv_flag
        // dv_flag is for if something that needs more mem for DeepVariant, like Brahman.
    rawCsv = null   // The pipeline is written in such a way that this can grab all lanes from a run.
                    // You just need to provide the prefix before the _S*_L00n_Rx_001.fastq.gz part.
    bamCsv = null
    vcfCsv = null

    // Locations for inputs, intermediates, and outputs
    raws = "/nfs/home/lmajeres/lmajeres/variant_calling_pipeline/inhouse_cattle/data/raw/"
    bams = "/nfs/home/lmajeres/lmajeres/variant_calling_pipeline/inhouse_cattle/data/prev_bams/"
    vcfs = "/nfs/home/lmajeres/lmajeres/variant_calling_pipeline/inhouse_cattle/data/prev_gvcfs/"
    outputScratch = "/lustre/isaac24/scratch/lmajeres/ihvc_cattle/"
    outName = "output" // Change this on command line as needed; name of final bcf and qc csvs

    // chromosomes
    autosomes = "NC_037328.1 NC_037329.1 NC_037330.1 NC_037331.1 NC_037332.1 NC_037333.1 NC_037334.1 NC_037335.1 NC_037336.1 NC_037337.1 NC_037338.1 NC_037339.1 NC_037340.1 NC_037341.1 NC_037342.1 NC_037343.1 NC_037344.1 NC_037345.1 NC_037346.1 NC_037347.1 NC_037348.1 NC_037349.1 NC_037350.1 NC_037351.1 NC_037352.1 NC_037353.1 NC_037354.1 NC_037355.1 NC_037356.1"
    x_chr = "NC_037357.1"
    y_chr = "NC_082638.1"
    genome_size = 2770669782

    x_thresh = 10
    y_thresh = 2

    // threads per task
    threads_trim  = 6	// petrim (trimmomatic)
    threads_bwa   = 12	// bwa (bwamem2)
    threads_fs    = 1	// flagstat (samtools)
    threads_merge = 4   // mergemd (samtools)
    threads_xy    = 1   // xyrat (samtools)
    threads_dv    = 12  // deepvariant
    threads_glnex = 24  // glnexus
    threads_dvqc  = 1   // parse_dvqc (python script)

    // mem per task
    mem_bwa = 40.GB
    mem_dv = 42.GB
    mem_dv_flag = 63.GB
    mem_glnex = 380.GB
    budg_glnex = "360GB" // make this smaller than total allocated for glnexus

    // max forks per task
    maxfork_trim = 50
    maxfork_bwa = 24
    maxfork_dv = 22
}
process {
    executor = 'slurm'
    queue = 'condo-trowan1'
    clusterOptions = '--account=ACF-UTK0171 --qos=condo --nodelist=mil1127,mil1128,clrv1203'
    time ='6h'

    withName: 'BWA' { time = '1d' }
    withName: 'DEEPVARIANT' { time = '2d' }
    withName: 'GLNEXUS' { time = '7d' }
}
executor {
    account = "ACF-UTK0171"
    queueSize = 50
    submitRateLimit = '8/1min'
    pollInterval = '60s'
}