params{
	// location of useful files
	in_csv = "ihvc_test_nf.csv" // Change this on command line as needed
	adapters = "/nfs/home/lmajeres/tools/adapters.fa"
	bwaIndex = "/nfs/home/lmajeres/tools/Bos_taurus_bwamem2_index_ARS2.0/Bos_taurus_bwamem2_index_ARS2.0"
    dvRef = "/nfs/home/lmajeres/tools/GCF_Bos_taurus_ref/GCF_002263795.3_ARS-UCD2.0_genomic.fna"

    out = "output" // Change this on command line as needed

    // chromosomes
    autosomes = "NC_037328.1 NC_037329.1 NC_037330.1 NC_037331.1 NC_037332.1 NC_037333.1 NC_037334.1 NC_037335.1 NC_037336.1 NC_037337.1 NC_037338.1 NC_037339.1 NC_037340.1 NC_037341.1 NC_037342.1 NC_037343.1 NC_037344.1 NC_037345.1 NC_037346.1 NC_037347.1 NC_037348.1 NC_037349.1 NC_037350.1 NC_037351.1 NC_037352.1 NC_037353.1 NC_037354.1 NC_037355.1 NC_037356.1"
    x_chr = "NC_037357.1"
    y_chr = "NC_082638.1"

	// threads per task
	threads_trim  = 8	// petrim (trimmomatic)
	threads_bwa   = 24	// bwa (bwamem2)
	threads_fs    = 1	// flagstat (samtools)
    threads_merge = 4   // mergemd (samtools)
    threads_xy    = 1   // xyrat (samtools)
    threads_dv    = 24  // deepvariant
    threads_glnex = 24  // glnexus

	// mem per task
	mem_bwa = 48.GB
    mem_dv = 72.GB
    mem_glnex = 220.GB
    budg_glnex = 200.GB // make this smaller than total allocated for glnexus
}